In [3]:
import pandas as pd
print("Hello")
df = pd.read_csv("./data.csv", index_col="index")
print(df.head())

Hello
              host       time method                           url  response  \
index
0      ***.novo.dk  805465029    GET                     /ksc.html       200
1      ***.novo.dk  805465031    GET    /images/ksclogo-medium.gif       200
2      ***.novo.dk  805465051    GET  /images/MOSAIC-logosmall.gif       200
3      ***.novo.dk  805465053    GET     /images/USA-logosmall.gif       200
4      ***.novo.dk  805465054    GET    /images/NASA-logosmall.gif       200

       bytes
index
0       7067
1       5866
2        363
3        234
4        786

In [4]:
# removing all not needed GET requests
remove_media = df[
    df.url.str.contains(".html", case=False) &
    df.url.str.contains(".htm", case=False) |
    df.url.str.endswith("/") 
]

In [35]:
grouped_by_host = remove_media.groupby(by=["host"])
print(len(grouped_by_host))
more_than_one_site = grouped_by_host.filter(lambda x: len(x) > 1)

33805

In [33]:
len(more_than_one_site.groupby(by=["host"]).groups)

21656

,host,time,method,url,response,bytes
index,,,,,,
634389,199.72.81.55,804571201,GET,/history/apollo/,200,6245
607526,199.120.110.21,804571209,GET,/shuttle/missions/sts-73/mission-sts-73.html,200,4085
141365,129.94.144.152,804571213,GET,/,200,7074
634390,199.72.81.55,804571303,GET,/,200,7074
629988,199.33.32.50,804571332,GET,/shuttle/countdown/liftoff.html,200,4538
...,...,...,...,...,...,...
660131,203.243.250.7,809927620,GET,/facilities/spaceport.html,200,6898
584901,198.246.156.20,809927624,GET,/facts/faq12.html,200,19547
660132,203.243.250.7,809927710,GET,/facilities/vab.html,200,4045
219279,137.229.105.152,809927888,GET,/shuttle/countdown/countdown.html,200,4745
366653,163.135.16.62,809927949,GET,/facts/about_ksc.html,200,3977

,host,time,method,url,response,bytes
index,,,,,,
0,***.novo.dk,805465029,GET,/ksc.html,200,7067
6,***.novo.dk,805465068,GET,/shuttle/missions/missions.html,200,8678
12,***.novo.dk,805465381,GET,/shuttle/resources/orbiters/columbia.html,200,6922
13,***.novo.dk,807951768,GET,/shuttle/missions/sts-69/mission-sts-69.html,200,11264
18,***.novo.dk,807951832,GET,/shuttle/countdown/,200,4673
23,***.novo.dk,807951938,GET,/shuttle/countdown/liftoff.html,200,4665
26,***.novo.dk,807952060,GET,/shuttle/countdown/lps/fr.html,200,1879